h1{
    color: rgb(52, 150, 241);
}

label{
    color:green;
}
input{
    color: indigo;
}
#myId{
    color: magenta;
}
#myId_2{
    color: mediumorchid;
}
#myId_3{
    color:peru;
}